NODE_ENV=production
HTTP_HOST=0.0.0.0
PORT=8000

# Two weeks in milliseconds
COOKIE_EXPIRATION_MS=1209600000
SESSION_COOKIE_NAME=argon.sid
SESSION_SECRET=your-secret-here

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=power-meter
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=your-password
